# Create a Pandas DataFrame from a Numpy Array

In [1]:
import numpy as np
import pandas as pd

## Create a 2D numpy array

In [4]:
my_array = np.random.random((10, 5))
my_array

array([[ 0.28347131,  0.77770533,  0.95043308,  0.09303216,  0.209482  ],
       [ 0.32693817,  0.35609332,  0.0030115 ,  0.23266837,  0.00548801],
       [ 0.51544106,  0.17620576,  0.91403289,  0.76746642,  0.45308853],
       [ 0.00477861,  0.92895   ,  0.83186701,  0.11520339,  0.72589483],
       [ 0.7419874 ,  0.81619818,  0.31905845,  0.2337559 ,  0.85250781],
       [ 0.50322669,  0.18898341,  0.16515585,  0.39023076,  0.13418129],
       [ 0.26786184,  0.99217808,  0.83342273,  0.69205942,  0.96136892],
       [ 0.08458782,  0.21792815,  0.83620009,  0.48065233,  0.51348742],
       [ 0.41085093,  0.57240443,  0.72786393,  0.65146445,  0.58242059],
       [ 0.82060548,  0.48890459,  0.41337673,  0.39725134,  0.22276558]])

## Basic DataFrame

In [5]:
df = pd.DataFrame(my_array)
df

          0         1         2         3         4
0  0.283471  0.777705  0.950433  0.093032  0.209482
1  0.326938  0.356093  0.003011  0.232668  0.005488
2  0.515441  0.176206  0.914033  0.767466  0.453089
3  0.004779  0.928950  0.831867  0.115203  0.725895
4  0.741987  0.816198  0.319058  0.233756  0.852508
5  0.503227  0.188983  0.165156  0.390231  0.134181
6  0.267862  0.992178  0.833423  0.692059  0.961369
7  0.084588  0.217928  0.836200  0.480652  0.513487
8  0.410851  0.572404  0.727864  0.651464  0.582421
9  0.820605  0.488905  0.413377  0.397251  0.222766

## DataFrame with named columns

In [7]:
df = pd.DataFrame(my_array, columns=['A', 'B', 'C', 'D', 'E'])
df

          A         B         C         D         E
0  0.283471  0.777705  0.950433  0.093032  0.209482
1  0.326938  0.356093  0.003011  0.232668  0.005488
2  0.515441  0.176206  0.914033  0.767466  0.453089
3  0.004779  0.928950  0.831867  0.115203  0.725895
4  0.741987  0.816198  0.319058  0.233756  0.852508
5  0.503227  0.188983  0.165156  0.390231  0.134181
6  0.267862  0.992178  0.833423  0.692059  0.961369
7  0.084588  0.217928  0.836200  0.480652  0.513487
8  0.410851  0.572404  0.727864  0.651464  0.582421
9  0.820605  0.488905  0.413377  0.397251  0.222766

## DataFrame with named columns and index from a column

In [8]:
df = pd.DataFrame(my_array[:,1:], index=my_array[:, 0], columns=['B', 'C', 'D', 'E'])
df

                 B         C         D         E
0.283471  0.777705  0.950433  0.093032  0.209482
0.326938  0.356093  0.003011  0.232668  0.005488
0.515441  0.176206  0.914033  0.767466  0.453089
0.004779  0.928950  0.831867  0.115203  0.725895
0.741987  0.816198  0.319058  0.233756  0.852508
0.503227  0.188983  0.165156  0.390231  0.134181
0.267862  0.992178  0.833423  0.692059  0.961369
0.084588  0.217928  0.836200  0.480652  0.513487
0.410851  0.572404  0.727864  0.651464  0.582421
0.820605  0.488905  0.413377  0.397251  0.222766