# Reverse the Order of Rows in a Pandas DataFrame

The last row becomes the first

In [2]:
import pandas as pd
import numpy as np

In [8]:
data = pd.DataFrame(np.random.random((10, 5)), columns=['A', 'B', 'C', 'D', 'E'])
data

          A         B         C         D         E
0  0.292762  0.798534  0.693663  0.741965  0.887181
1  0.527995  0.784964  0.493956  0.380082  0.551239
2  0.020127  0.086345  0.027575  0.806596  0.898991
3  0.620163  0.064285  0.724025  0.818731  0.804439
4  0.786508  0.627868  0.860474  0.516742  0.153732
5  0.940579  0.429238  0.978250  0.014556  0.900462
6  0.406495  0.043340  0.999418  0.117372  0.155658
7  0.611396  0.362655  0.255530  0.328416  0.159817
8  0.699816  0.304070  0.230015  0.857635  0.700372
9  0.684537  0.557293  0.501021  0.636713  0.531080

## Reverse using `df.sort_index()`

In [12]:
data.sort_index(axis=0 ,ascending=False)

          A         B         C         D         E
9  0.684537  0.557293  0.501021  0.636713  0.531080
8  0.699816  0.304070  0.230015  0.857635  0.700372
7  0.611396  0.362655  0.255530  0.328416  0.159817
6  0.406495  0.043340  0.999418  0.117372  0.155658
5  0.940579  0.429238  0.978250  0.014556  0.900462
4  0.786508  0.627868  0.860474  0.516742  0.153732
3  0.620163  0.064285  0.724025  0.818731  0.804439
2  0.020127  0.086345  0.027575  0.806596  0.898991
1  0.527995  0.784964  0.493956  0.380082  0.551239
0  0.292762  0.798534  0.693663  0.741965  0.887181

## Reverse using `df.iloc[]`

In [13]:
data.iloc[::-1]

          A         B         C         D         E
9  0.684537  0.557293  0.501021  0.636713  0.531080
8  0.699816  0.304070  0.230015  0.857635  0.700372
7  0.611396  0.362655  0.255530  0.328416  0.159817
6  0.406495  0.043340  0.999418  0.117372  0.155658
5  0.940579  0.429238  0.978250  0.014556  0.900462
4  0.786508  0.627868  0.860474  0.516742  0.153732
3  0.620163  0.064285  0.724025  0.818731  0.804439
2  0.020127  0.086345  0.027575  0.806596  0.898991
1  0.527995  0.784964  0.493956  0.380082  0.551239
0  0.292762  0.798534  0.693663  0.741965  0.887181